@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;

  height: 100%;
}

h1 {
  @apply text-4xl font-medium
}

h2 {
  @apply text-3xl font-medium
}

h3 {
  @apply text-2xl font-medium text-neutral-900
}

h4 {
  @apply text-xl text-neutral-700
}

code {
  @apply bg-neutral-200 text-neutral-900 p-1 rounded-md
}

a.active {
  @apply underline text-black
}

a {
  @apply hover:underline
}

/* @font-face {
  font-family: 'Satoshi-Variable';
  src: url('./Satoshi-Variable.ttf') format('truetype');
} */


code {
  @apply p-1 rounded-md bg-neutral-200 text-wrap
}

pre {
  @apply rounded-md bg-neutral-200 m-1 p-2
}

article {
  @apply flex flex-col gap-4
}
